CompileFlags:
  Add: [
    "-xc++", 
    "-std=c++17", 
    # These don't do anything atm
    "-I./", 
    "-I./third_party/glm", 
    "-I./third_party/imgui", 
    "-I./third_party/vkbootstrap/src", 
    "-I./third_party/vma/include", 
    "-I./third_party/stb", 
    "-I./third_party/tinyobjloader/src", 
    "-I./third_party/entt/src", 
    "-I./third_party/expected/include/tl", 
    "-I./third_party/_deps/joltphysics-src", 
    ]
