[submodule "expected"]
	path = third_party/expected
	url = https://github.com/TartanLlama/expected
[submodule "entt"]
	path = third_party/entt
	url = https://github.com/skypjack/entt
[submodule "imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "vma"]
	path = third_party/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "vkbootstrap"]
	path = third_party/vkbootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "tinyobjloader"]
	path = third_party/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb
[submodule "glm"]
	path = third_party/glm
	url = https://github.com/icaven/glm
